html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #333;
  background: #f6f6f6;
}

#Intro{
    margin: 30px;
    border: 1px solid black;
    padding: 10px;
    background: #3c8dbc;
    color: #fff;
}

.header {
  position: fixed;
  /*top: 0;
  left: 0;*/
  z-index: 999;

  width: 100%;
  height: 50px;

  background: #3c8dbc;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0 -20px 20px 20px;
}


.header h1 {
  margin: 0;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  font-size: 18px;
  float: top;
}

.wrapper {
  /*margin-top: 50px;*/
  padding: 70px 30px;
  transition: all 0.3s ease-out;
  background: #f6f6f6;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}


/* Small devices (tablets)
==========================*/
@media (min-width: 768px) {

}


/* Medium devices (desktops)
==========================*/
@media (min-width: 992px) {

  body {
    overflow-y: scroll;
  }

  .logo img {
    width: 200px;
    text-align: center;
    margin-top: 10px;
    float: none;
  }

  .wrapper {
    margin-left: 200px;
  }

  .wrapper__minify {
    margin-left: 50px;
  }

}

table {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #aaa;
}

th{
    text-align: left;
}

.tbl_param, .tbl_ret {
    table-layout: fixed;
    width: 1046px;
    line-height: 1.3em;
}

.tbl_param ul, .tbl_ret ul {
    margin-top: .25em !important;
    margin-bottom: .25em;
}

.tbl_param td, .tbl_param th, .tbl_ret td, .tbl_ret th {
    padding: 6px;
    white-space: normal;
    border: 1px solid #aaa;
}

.col_key, .col_unit {
    width: 120px;
}

.col_err_code {
    width: 60px;
}

.col_datatype, .col_defval {
    width: 90px;
}

.col_desc {
    width: 400px;
}

.col_ret_desc {
    width: 535px;
}

#request {
    width: 890px;
    border: 1px solid grey;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    overflow-x: scroll;
}

#results {
    width: 900px;
    border: 1px solid grey;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
    overflow: auto;
}

.results-tall {
    height: 350px;
}

.results-short {
    height: 150px;
}

select {
    width: 100%
}

#api_content {
    margin-left: 32px;
}

#doc_title {
    display: none;
}

@media print {
    #doc_title {
        display: block;
        color: black;
        line-height: 46px;
        margin: 0;
        padding-bottom: 0;
        border-bottom: 1px solid #ccc;
        font-family: 'SegoeUILight';
        font-size: 2.1em;
        font-weight: bold;
    }

    #doc_title img {
        padding-top: 10px;
        float: right;
    }

/*    #main {
        width: 100% !important;
        position: relative;
        margin: 0;
        overflow-x: hidden;
    }*/

/*    #header, #sbbar, #imgopen, #imgclose, #sidebar {
        display: none;
    }*/

    h1 {
        page-break-before: avoid;
    }

    .tbl_param, .tbl_ret {
        width: 100%;
    }

    table td, table th {
        padding: 4px !important;
        line-height: 1.3em;
    }

    .col_key {
        width: 120px;
    }

    .col_unit, .col_datatype, .col_defval {
        width: 75px;
    }

    .col_desc {
        width: 300px;
    }

    .col_ret_desc {
        width: 400px;
    }
}


/*Tooltips*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.disabled{
    border: 1px solid #999;
    background-color: #eee;
    height: 1.8em;
    padding-left: 6px;
}

/*Search Bar*/

#searchBar {
  width: 90%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #888;
  margin: 5%;
  margin-bottom: 12px;
  background: #666;
  color: #fff
}

#searchBar::placeholder {
    color: #fff;
}

/*ScrollBar*/
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666; 
}

